@model IEnumerable<FridgeProduct.Entities.Models.Fridge>
@{
    ViewData["Title"] = "Холодильники и продукты";
}
<h3>Информация о проекте</h3>
<a href="~/Fridges/Index">Список холодильников</a>
<a href="~/Products/Index">Список продуктов</a>

