@model IEnumerable<FridgeProduct.Entities.Models.Fridge>
@{
    ViewData["Title"] = "Холодильники и продукты";
}
<h3>Информация о тестовом проекте 
    "Холодильники и продукты"</h3>
<div>
    <a asp-action="Index" asp-controller="fridges">Список холодильников</a>
</div>

<div>
    <a asp-action="Index" asp-controller="products">Список продуктов</a>
</div>

